# 0. Prepare

In [1]:
import zipfile
import pandas as pd
import numpy as np
import pickle as pkl
import matplotlib.pyplot as plt

from zipfile import ZipFile

In [7]:
url = '/Users/thienhtt20/Documents/GitHub/Handling-Data/MyData/2019-Nov.csv.zip'

In [ ]:
df = pd.read_csv(url, compression='zip', header=0, sep=',', quotechar='"')
df.info(verbose=False, memory_usage="deep")

In [8]:
df = pd.read_csv(url, compression='zip', header=0, sep=',', quotechar='"', nrows=10)

In [11]:
df.columns.tolist()

['event_time',
 'event_type',
 'product_id',
 'category_id',
 'category_code',
 'brand',
 'price',
 'user_id',
 'user_session']

# 1.Better read file

### 1.1.Basic Feature Selection For Analysis

- As we can see, there are 5 features we actually need to do care about:

    [**'category_code', 'brand', 'price', 'event_time', 'event_type'** ]
- The rest would be outliers and redundant due to its data format and unreadble

=> Data size reduce a lot here we will estimate it

In [12]:
df.head(2)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283

In [ ]:
needed_categories = ['category_code', 'brand', 'price', 'event_time', 'event_type']